/execel/*.csv
/execel/fail_data/
/execel/success_data/
/execel/*.xls
/execel/success_data_copy/
/execel/fail_data_copy/
/execel/*.txt
/execel/success_data_56/
/execel/fail_data_56/
/execel/success_data_23/
/execel/fail_data_23/